.pokemon-mini {
  border-radius: 3rem;
  display: inline-block;
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 9rem;
  align-items: center;
  margin: 8px;
	box-shadow: 5px 5px 5px black;
  img {
		&.pokemon-image{
			&:hover {
				animation: bounce 0.5s infinite;
				background-image: url('/images/pokeball_hover.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
		&.placeholder-image{
			width: 10rem;
		}
  }
  @each $color-key, $color-value in $types {
    @each $tone-key, $tone-value in $color-value {
      @if $tone-key == light {
        &.#{$color-key} {
          box-shadow: 3px 3px 3px $tone-value;
        }
      } @else {
        &.#{$color-key} {
          border: 2px solid $tone-value;
        }
      }
    }
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.type {
  margin: 2px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 13px;
  font-family: 'helvetica neue', Helvetica, Verdana, sans-serif;
  color: #fff;
  background-color: #68a090;
  border: 1px solid #44685e;

  &.normal {
    background-color: #a8a878;
    border: 1px solid #6d6d4e;
  }
  @each $color-key, $color-value in $types {
    @each $tone-key, $tone-value in $color-value {
      @if $tone-key == light {
        &.#{$color-key} {
          background-color: $tone-value;
        }
      } @else {
        &.#{$color-key} {
          border: 1px solid $tone-value;
        }
      }
    }
  }
}

// Variables
$prefix: tooltip;
$contentAttr: data-tooltip;
$trigger: data-trigger;
$placement: data-placement;
$black: #000;
$white: #fff;

// The main tooltip class
.#{$prefix} {
  outline: none;
  position: relative;

  // Hide the tooltip when not active
  &:after,
  &:before {
    font-size: 1rem;
    opacity: 0;
    outline: none;
    position: absolute;
    text-decoration: none;
    transition: opacity 0.3s linear 0s;
    visibility: hidden;
  }

  // The actual tooltip styles
  &:after {
    content: attr(#{$contentAttr});
    background-color: $black;
    color: $white;
    padding: 6px;
    white-space: nowrap;
  }

  // Tooltip trigger
  &[#{$trigger}='hover']:hover:before,
  &[#{$trigger}='hover']:hover:after {
    opacity: 1;
    transition: opacity 0.3s linear 0s;
    visibility: visible;
    z-index: 2;
  }

  // Tooltip placement top
  &[#{$placement}='top']:after,
  &[#{$placement}='top']:before {
    bottom: 60%;
  }

  &[#{$placement}='top']:after {
    border-radius: 4px;
    left: 00%;
    margin: 0 0 14px 0;
    // transform: translate(50%);
  }

  &[#{$placement}='top']:before {
    content: '';
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid black;
    left: 0%;
    margin: 0 0 7px 0;
    transform: translate(50%);
  }
}
