@import './_variables.scss';
@import './_mixins.scss';
@import './_reset.scss';
@import '../components/PokemonMini/PokemonMini.scss';
@import '../components/Pokedex/Pokedex.scss';
@import '../components/Seachbar/Searchbar.scss';
@import '../components/App/App.scss';
@import '../components/Team/Team.scss';
@import '../components/Header/Header.scss';
@import '../components/Navbar/Navbar.scss';

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: $main_background_color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
