.header{
  background-color: $pokemon-red;
  height:10rem;
  display: flex;
  align-items: center;
  padding-left: 10rem;
  h1 {
    font-size: 4rem;
    color:$pokemon-blue;
    text-shadow: -3px -3px 0 $pokemon-yellow, 3px -3px 0 $pokemon-yellow, -3px 3px 0 $pokemon-yellow, 3px 3px 0 $pokemon-yellow;
  }
}